<footer class="page-footer cyan lighten-1">
  <div class="footer-copyright cyan lighten-2">
    <div class="container">
      <a href='http://mashable.com/tech/?utm_cid=mash-prod-nav-ch' target="_blank">Mashable</a>
      <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
    </div>
  </div>
</footer>
