<nav>
  <div class="nav-wrapper cyan lighten-2">
    <a href="/" class="brand-logo center">Scrape The News</a>
    <ul class="right" id="nav-mobile">
      <li><a href="/scrape">Scrape</a></li>
    </ul>
  </div>
</nav>
